# Python & build caches
__pycache__/
*.py[cod]
*.pyo
*.so
*.egg-info/
.build/
dist/
.eggs/

# Virtual envs
.venv/
venv/
.env/

# Streamlit caches
.streamlit/
**/.streamlit/

# Testes & relatórios
.pytest_cache/
htmlcov/
.coverage
coverage.xml
tests/

# VCS
.git/
.gitignore
.gitattributes

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Saídas geradas
*.xlsx
*.pdf

# Outros
*.log
